body{
    background: #849191;
}
p{
    font-weight: bolder;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
     margin: 10px;
}

button{
    margin-left: 45%;
    box-shadow: 2px 2px 2px 2px burlywood;
    margin-top: 10%;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid black;
    cursor: pointer;
    background: rgb(206, 187, 163);

    
}
